MaterialSecretariav3/WORKFLOWS/01. Secretária v3.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        944
      ],
      "id": "edcce47f-e473-48c0-9298-08f63fe924e2",
      "name": "Mensagem encavalada?",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2864,
        944
      ],
      "id": "5d85e600-dd87-4eab-af70-b19d9657d12e",
      "name": "Buscar mensagens",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3376,
        1152
      ],
      "id": "6fe10f0e-c78a-4eb7-b820-c0dea1bf6744",
      "name": "Limpar fila de mensagens",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 16
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2656,
        944
      ],
      "id": "355fd579-0adf-4de5-b6ee-a8bbbc2b3be6",
      "name": "Esperar",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf854624-77ee-461e-a072-e373dcecf4f8",
                    "leftValue": "={{ $('Info').item.json.info_arquivo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Arquivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1904,
        1024
      ],
      "id": "f0b2dd45-d200-497f-a33d-6e0756c2f490",
      "name": "Tipo de mensagem",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para listar os arquivos disponíveis para envio para o usuário.",
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "<selecionar pasta no Google Drive>",
            "mode": "list"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        3904,
        1200
      ],
      "id": "6c81600a-df0e-4dbf-bd28-c6d864e32299",
      "name": "Listar arquivos",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 472,
        "width": 548,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        384
      ],
      "id": "7935b97e-4e44-4983-b4a2-a593584e72eb",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Info').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3744,
        1200
      ],
      "id": "de66e0e7-f44e-4858-995e-7e9e2482c138",
      "name": "Memory",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\nc_6c3005bf4afd591f13f242f6509208ddbe2feadad3f6521884ab79c59069bfd0@group.calendar.google.com\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n",
        "height": 368,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4128,
        2032
      ],
      "id": "3d52cb4d-c96e-4a69-a077-4c126ee34e31",
      "name": "Sticky Note17",
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "mensagem": "={{ $('Info').item.json.mensagem || $json.text || $json.content.parts?.[0].text || '<mensagem de áudio não audível>' }}{{ $('Info').item.json.info_arquivo ? `\\n${$('Info').item.json.info_arquivo}` : '' }}",
            "timestamp": "={{ $('Info').item.json.timestamp.toDateTime() }}",
            "id_mensagem": "={{ $('Info').item.json.id_mensagem }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2432,
        1024
      ],
      "id": "009ec93f-654c-420e-9c56-69e70d58c392",
      "name": "Enfileirar mensagem.",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/update_last_seen",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3616,
        960
      ],
      "id": "0d0e15c3-9724-4ce3-a263-c6a39b47f9f7",
      "name": "Marcar como lidas",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        1136
      ],
      "id": "c8d34b7d-2578-4a72-99d5-607090c203e2",
      "name": "Download áudio",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2256,
        1136
      ],
      "id": "1237c677-70c9-4e85-be82-e414f316624a",
      "name": "Transcrever audio",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para direcionar o atendimento para o gestor responsável.",
        "workflowId": {
          "__rl": true,
          "value": "5mNVlKto4AmjKvRh",
          "mode": "list",
          "cachedResultUrl": "/workflow/5mNVlKto4AmjKvRh",
          "cachedResultName": "<selecionar ou criar subworkflow 05. Escalar humano>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "resumo_conversa": "={{ $fromAI('resumo_conversa', `Um breve resumo com pontos chave da conversa.`, 'string') }}",
            "ultima_mensagem": "={{ $('Coletar mensagens').item.json.mensagem }}",
            "nome": "={{ $('Info').item.json.nome }}",
            "id_conversa_alerta": "={{ $('Info').item.json.id_conversa_alerta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ultima_mensagem",
              "displayName": "ultima_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumo_conversa",
              "displayName": "resumo_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa_alerta",
              "displayName": "id_conversa_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4592,
        1200
      ],
      "id": "54299414-4201-41bb-996b-11f41fe1dbbb",
      "name": "Escalar humano",
      "disabled": true
    },
    {
      "parameters": {
        "content": "[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)",
        "height": 80,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7504,
        1520
      ],
      "id": "b8226974-f35b-46b9-bd37-7f6ee8b8c1d7",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "## Importante\n\nSe a mensagem não está sendo marcada como lida, verifique no na configuração de ambos os WhatsApp (pelo celular) se a confirmação de leitura está habilitada.",
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3728,
        784
      ],
      "id": "2cff5056-2066-4b84-a820-6adfbb5692cc",
      "name": "Sticky Note34",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 392,
        "width": 1204,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1728,
        -112
      ],
      "id": "eec11eab-7133-4fc7-9358-4331c8db0911",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "url_chatwoot",
              "value": "<inserir url do seu chatwoot>",
              "type": "string"
            },
            {
              "id": "542c4f0e-1d6a-4da2-8e08-a4127bd85423",
              "name": "agendamento_duracao_minutos",
              "value": "30",
              "type": "string"
            },
            {
              "id": "8f1f8dd4-12e7-4c56-8d56-ada479a7225d",
              "name": "cobranca_valor",
              "value": "500",
              "type": "string"
            },
            {
              "id": "9aa7c3ba-f1fa-4222-9b2e-824a2c743409",
              "name": "id_conversa_alerta",
              "value": "<inserir id da conversa de alerta>",
              "type": "string"
            },
            {
              "id": "a1ae5215-cb10-4482-a5b0-b59cb0407171",
              "name": "url_asaas",
              "value": "https://api-sandbox.asaas.com",
              "type": "string"
            },
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "value": "={{ $json.body.conversation.id }}",
              "type": "string"
            },
            {
              "id": "7ca2f49a-8aad-47db-877f-6b8ddc6c6830",
              "name": "id_contato",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}",
              "type": "string"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "188fafa0-910a-456b-91d0-9c9188d66535",
              "name": "nome",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $json.body.content || '' }}",
              "type": "string"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "value": "={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}",
              "type": "boolean"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "24caf88e-74ce-43ab-8dc4-1fff471b706f",
              "name": "tipo",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "573669d2-1e43-4010-8c82-a67459ffe1db",
              "name": "etiquetas",
              "value": "={{ $json.body.conversation.labels }}",
              "type": "array"
            },
            {
              "id": "38610298-ef19-4e79-bdeb-753c02636ef7",
              "name": "email_usuario",
              "value": "={{ $json.body.sender.email }}",
              "type": "string"
            },
            {
              "id": "d37b6368-01a0-4161-a4a9-26c0960cd489",
              "name": "atributos_contato",
              "value": "={{ $json.body.sender.custom_attributes }}",
              "type": "object"
            },
            {
              "id": "6ab3c868-9b6b-4452-884d-7f8faeeabdd5",
              "name": "info_arquivo",
              "value": "={{ !$json.body.attachments?.[0]?.meta?.is_recorded_audio && $json.body.attachments[0]?.file_type ? `\\n<usuário enviou um arquivo do tipo '${$json.body.attachments[0]?.file_type}'>` : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        1040
      ],
      "id": "9c86229e-ef3e-4964-8f83-d5a69fdfca4b",
      "name": "Info"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2ed5d70-7afa-4b23-ba63-5bcc23325d25",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "ed3e36d7-4f2c-4804-9e8d-f9b08494e939",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "gestor",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "cf87bb7e-6bea-4697-bcd9-57e3b63998c2",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "testando-agente",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1712,
        1040
      ],
      "id": "fc0afd24-e0ff-4f95-93c7-7cf0086ded50",
      "name": "Processar mensagem?",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a29a880e-fb21-43fa-9a4a-092128ddfe2e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45",
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/teste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teste"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Mensagem normal"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1440,
        1024
      ],
      "id": "0b243f03-4f64-4c9e-b5cd-4ddc759c52b0",
      "name": "Reset ou teste"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $('Info').item.json.etiquetas.filter(etiqueta => !['agente-off'].includes(etiqueta)) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        368
      ],
      "id": "d1d49930-2bd2-4e49-becc-ffde6af7b47e",
      "name": "Limpar etiquetas",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Memória resetada."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        368
      ],
      "id": "35be5a92-bed7-4d37-a5d1-b188031b4230",
      "name": "Enviar memória resetada",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        368
      ],
      "id": "2c07a797-db63-4c59-9994-4519ce26bf4e",
      "name": "Limpar memória",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}/destroy_custom_attributes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": [\"preferencia_audio_texto\", \"asaas_id_cliente\", \"asaas_id_cobranca\", \"asaas_status_cobranca\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        368
      ],
      "id": "c69d165a-39e2-4f6a-abc0-4908130566a0",
      "name": "Resetar atributos",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2576,
        368
      ],
      "id": "c03fce79-ea22-40d1-8927-7603bc868adb",
      "name": "Limpar fila de mensagens1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.etiquetas.append('testando-agente').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        672
      ],
      "id": "67dfb580-ddf9-4f1f-bf31-38b53c7f62f4",
      "name": "Colocar etiqueta testando-agente",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Modo de teste habilitado."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        672
      ],
      "id": "aa782a72-5ec1-4177-8dff-06e72a690e00",
      "name": "Enviar teste habilitado",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84e8cae9-28e3-4abd-869c-612fcff95948",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ee8306ee-1d14-4732-9865-a21f52da6a2e",
              "leftValue": "={{ $json.lock_conversa }}",
              "rightValue": "pending",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "bf08f3f7-aff7-47be-8f89-2d0e3ee19049",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2976,
        1152
      ],
      "id": "ca16aa51-4dd9-41ee-8a05-82ed7a2c2d89",
      "name": "Agente já terminou de responder?",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "value": "={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3808,
        960
      ],
      "id": "c2657fac-4055-4e3e-89da-2b2a4b2e178a",
      "name": "Coletar mensagens",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Utilize essa ferramenta para enviar uma mensagem de texto para o usuário. Usada para enviar links, números de telefone, e outras informações a serem destacadas, e que não funcionam bem para mensagens de áudio.\n\nQuando utilizar essa ferramenta, **NUNCA INCLUA OS DADOS NOVAMENTE NA SUA SAÍDA**.",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $fromAI('conteudo', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4592,
        1328
      ],
      "id": "a3191438-ece4-4634-ae0d-db99808a64a2",
      "name": "Enviar texto separado",
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"<tool-calls>{{ $json.intermediateSteps.map(s => `<tool-call><action>${s.action.log}</action><result>${s.observation}</result></tool-call>`).join('').replaceAll('\\n', '').replaceAll('\\\\\"',\"'\").replaceAll('\"',\"'\") }}</tool-calls>\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5712,
        1024
      ],
      "id": "abcb4164-bef1-4ab8-a06d-076c9ec6a592",
      "name": "Salvar tool calls",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "063ab981-e52e-4779-9c1a-8d6dfa384643",
              "leftValue": "={{ $json.intermediateSteps }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5456,
        1088
      ],
      "id": "310e8d50-0c1b-4cb9-b714-52fed6937849",
      "name": "Usou tools?",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6096,
        1120
      ],
      "id": "07b2d7a5-2eae-4dd7-a455-17b90e07e27c",
      "name": "Buscar atributos do contato",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const { preferencia_audio_texto } = $('Buscar atributos do contato').first().json.payload.custom_attributes;\nconst { mensagem_de_audio } = $('Info').first().json;\n\nif (preferencia_audio_texto === 'texto') {\n  return { tipo_resposta: 'texto' };\n}\nif (preferencia_audio_texto === 'audio') {\n  return { tipo_resposta: 'audio' };\n}\n// Preferência não setada, usar tipo da mensagem do usuário\nreturn { tipo_resposta: mensagem_de_audio ? 'audio' : 'texto' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6288,
        1120
      ],
      "id": "565bb90d-af2c-4e27-a1a5-28451a3051f6",
      "name": "Calcular tipo da resposta",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6480,
        1120
      ],
      "id": "79ffca7f-6b8e-4950-a652-30c85f6697f0",
      "name": "Tipo da resposta",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_status",
              "value": "recording"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7072,
        1200
      ],
      "id": "cb86a8e3-f49f-4d41-ba17-ede9d6c17b03",
      "name": "Gravando...",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_recorded_audio",
              "value": "=[\"{{ $binary.data.fileName }}\"]"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7472,
        1200
      ],
      "id": "a02e6b2d-4c5d-4bdf-8a9d-498b626478ee",
      "name": "Enviar áudio",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "26kpdsFnxiTJUL6G",
          "mode": "list",
          "cachedResultUrl": "/workflow/26kpdsFnxiTJUL6G",
          "cachedResultName": "<selecionar ou criar subworkflow 07. Quebrar e enviar mensagens>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $('Formatar texto').item.json.text }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7280,
        960
      ],
      "id": "adcd4e26-b927-4e26-ae71-afefae97ec7a",
      "name": "Quebrar e enviar mensagens",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para buscar as janelas disponíveis no um período especificado. Evite utilizar com janelas de tamanho muito grandes e muito pequenas. Por exemplo, considerando disponibilidade já informada das 08h às 19h:\n\n* Para janelas maiores, não busque com período fora do horário de disponibilidade já informado nas instruções.\n\n\"Quais janelas estão disponíveis amanhã?\"\n- Período início: 08h, período fim: 19h\n- (Ao invés de 00h às 00h do dia seguinte)\n\n* Para janelas menores, insira uma margem antes e depois do horário desejado.\n\n\"O horário das 12h está disponível?\"\n- Período início: 10h, período fim: 14h\n- (Ao invés de 12h às 12h30, para tamanho de janela de 30m)",
        "workflowId": {
          "__rl": true,
          "value": "ZGnLV8lGj8wz8r2T",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZGnLV8lGj8wz8r2T",
          "cachedResultName": "<selecionar ou criar subworkflow 03. Buscar janelas disponíveis Google Calendar>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periodo_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "periodo_fim": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_fim', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "tamanho_janela_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}",
            "granularidade": 15
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periodo_inicio",
              "displayName": "periodo_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "periodo_fim",
              "displayName": "periodo_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tamanho_janela_minutos",
              "displayName": "tamanho_janela_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "granularidade",
              "displayName": "granularidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "amostras",
              "displayName": "amostras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4192,
        1200
      ],
      "id": "fe98560a-3d1d-4db4-8f43-f649d1956df9",
      "name": "Buscar janelas disponiveis",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta caso o lead expresse preferência por receber somente áudio, ou somente texto.",
        "method": "PATCH",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"custom_attributes\": {\n      ...$('Info').item.json.atributos_contato,\n      preferencia_audio_texto: $fromAI('preferencia_audio_texto', 'audio | texto', 'string')\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4736,
        1328
      ],
      "id": "7b0daa08-3735-4751-9f48-1e03f32cc26f",
      "name": "Preferencia audio texto",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.\n\nIgnore a saída dessa ferramenta, ela é a mensagem enviada para o contato.\n\n**NUNCA UTILIZE ESSA FERRAMENTA MÚLTIPLAS VEZES SEGUIDAS**",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_attributes",
              "value": "={ \"in_reply_to\": {{ $('Info').item.json.id_mensagem }}, \"is_reaction\": true }"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('content', `O emoji da reação.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4736,
        1200
      ],
      "id": "70a8b9ea-27c2-4738-9bfe-136b06fb06d6",
      "name": "Reagir mensagem",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6688,
        1328
      ],
      "id": "12527f46-242b-4e6f-9871-0d6e010fe5f8",
      "name": "OpenAI Chat Model1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6864,
        1088
      ],
      "id": "c10d27e3-4742-463b-ab47-33288b35cf98",
      "name": "OpenAI Chat Model2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        960
      ],
      "typeVersion": 1,
      "id": "97501a71-1a08-4225-8e73-8281aea06992",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2752,
        1152
      ],
      "id": "4edefb0c-8f9e-4028-a2fe-ea8d1e03a28c",
      "name": "Verificar status atendimento",
      "alwaysOutputData": true,
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": true,
            "numero_followup": 0,
            "aguardando_followup": true
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3344,
        928
      ],
      "id": "90aebd49-a844-4f43-8655-8b9f5ade0019",
      "name": "Bloquear status atendimento",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false,
            "numero_followup": 0,
            "aguardando_followup": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2384,
        368
      ],
      "id": "58232fde-7e65-46c3-a0b5-f8e632a2b89a",
      "name": "Resetar status atendimento",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5696,
        1200
      ],
      "id": "88c7be6c-6ba3-4470-8510-71703e4f4192",
      "name": "Limpar status atendimento",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7728,
        1072
      ],
      "id": "e9328f46-5776-4d88-8461-704e63de0143",
      "name": "Limpar status atendimento1",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Resetar conversa\n",
        "height": 288,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        288
      ],
      "typeVersion": 1,
      "id": "5c361094-51f9-442f-8524-cd4cdd3da669",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Habilitar testes\n",
        "height": 272,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        592
      ],
      "typeVersion": 1,
      "id": "82a5614c-2bff-43be-a626-9a3973361266",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3616,
        1200
      ],
      "id": "42b874ed-8c24-4d26-a0d6-ef23adcfaa92",
      "name": "OpenAI",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Core",
        "height": 336,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3584,
        1120
      ],
      "id": "7e15c138-9a20-43a8-bbf0-f62200838992",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Drive",
        "height": 336,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3872,
        1120
      ],
      "id": "8203747d-0852-44eb-80a0-ad7a25ffc43a",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Calendar",
        "height": 336,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4160,
        1120
      ],
      "id": "a878ebca-9cec-46a5-a01e-151115823cff",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chatwoot",
        "height": 336,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4560,
        1120
      ],
      "id": "1395dbbe-4803-4924-97f1-816f23e2b2b1",
      "name": "Sticky Note9",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Asaas",
        "height": 336,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5008,
        1120
      ],
      "id": "ad9fb74b-f874-4ff3-95e2-a83eab442fb1",
      "name": "Sticky Note12",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93a1e408-265a-438d-b860-1ea7f6a79f93",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e5ed93cc-0025-4858-a0e5-b621594b01de",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Agent stopped due to max iterations.",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5248,
        1136
      ],
      "id": "b24a52ea-9a11-403b-a8cd-b6faf4a65b56",
      "name": "Output válido?",
      "disabled": true
    },
    {
      "parameters": {
        "errorMessage": "=Problema no output do agente: {{ $('Secretária v3').item.json.output }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        5888,
        1200
      ],
      "id": "671f2b47-4524-4de8-8601-47c38d9df803",
      "name": "Output inválido",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Tratar input",
        "height": 448,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        880
      ],
      "id": "a085a340-4701-4572-904f-298515ce42b3",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## Mensagens encavaladas",
        "height": 448,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2576,
        880
      ],
      "typeVersion": 1,
      "id": "b8bfda5f-2854-4a98-89ef-0db9abdad6fd",
      "name": "Sticky Note15",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Secretária\n",
        "height": 608,
        "width": 1632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3552,
        880
      ],
      "typeVersion": 1,
      "id": "aae15200-2596-4d74-a8c3-589094ab4406",
      "name": "Sticky Note16",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Pré-processar e enviar resposta",
        "height": 608,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6032,
        880
      ],
      "id": "dc0f0588-8f52-406f-9be2-3fc896030ade",
      "name": "Sticky Note37",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Tratar output do agente",
        "height": 608,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5200,
        880
      ],
      "typeVersion": 1,
      "id": "ece0b3da-78f8-4d70-9937-baf269acb26f",
      "name": "Sticky Note19",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Checklist\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n- [ ] Configurar webhook no Chatwoot\n- [ ] Configura o node \"Info\"\n- [ ] Subworkflow \"Baixar e enviar arquivo\" -> Workflow 02\n- [ ] Subworkflow \"Buscar janelas disponíveis\" -> Workflow 03\n- [ ] Subworkflow \"Criar evento\" -> Workflow 04\n- [ ] Subworkflow \"Escalar humano\" -> Workflow 05\n- [ ] Subworkflow \"Criar ou buscar cobrança\" -> Workflow 06\n- [ ] Abrir os nodes restantes para selecionar as credenciais\n- [ ] Posicionar corretamente o node \"Bloquear status atendimento\"",
        "height": 448,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        880
      ],
      "id": "eb57da07-1d5e-48eb-ab3e-ec4e5c90afab",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## 01. Secretária v3",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -160
      ],
      "id": "ca216dd9-51d8-4741-90c4-eadbad20861a",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para enviar um arquivo do Google Drive para o usuário.\n",
        "workflowId": {
          "__rl": true,
          "value": "6G3gv29FEyYt0x0x",
          "mode": "list",
          "cachedResultUrl": "/workflow/6G3gv29FEyYt0x0x",
          "cachedResultName": "<selecionar ou criar subworkflow 02. Baixar e enviar arquivo do Google Drive>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4032,
        1200
      ],
      "id": "004dd2c7-2755-4433-94d7-19f929eedec9",
      "name": "Enviar arquivo",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da mensagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis\n\n**SUA SAÍDA DEVE SER SOMENTE A MENSAGEM FORMATADA. NÃO INCLUA NENHUMA INFORMAÇÃO ADICIONAL NA SAÍDA**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6880,
        960
      ],
      "id": "489bd03f-5f2d-4196-8a6e-5876fc165bbf",
      "name": "Formatar texto",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n#### Pausas\n\nA formatação de pausas em SSML é como segue:\n\n```\n<break time=\"1s\"/>\n```\n\nSempre que necessário, inclua pausas nesse formato.\n\n**NUNCA INCLUA PAUSAS COMO TEXTO**. Exemplo incorreto: ❌ \"Pausa de 1s\"\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6752,
        1200
      ],
      "id": "fb9b0f7a-cc89-4bbc-982a-ec83c8c1c299",
      "name": "Formatar SSML",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3616,
        1328
      ],
      "id": "1ea77358-9582-4965-a4a5-62b1d7d4d7cf",
      "name": "Refletir",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        992,
        1040
      ],
      "id": "b0754bb4-ac79-4657-9530-5882be519906",
      "name": "Mensagem recebida"
    },
    {
      "parameters": {
        "toolDescription": "Envia um alerta de consulta cancelada para o gestor da clínica.",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa_alerta }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4880,
        1200
      ],
      "id": "72a9a624-61c0-4bad-bb6e-5bd0ec8668a9",
      "name": "Enviar alerta de cancelamento",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para criar um agendamento no horário especificado, com duração do evento conforme já especificado nas instruções gerais.\n\nSempre verifique se já não chamou essa ferramenta antes de chamá-la.\n\n**NUNCA CHAME ESSA FERRAMENTA MAIS DE UMA VEZ PARA O MESMO AGENDAMENTO.**\n\nCaso necessário, utilize a ferramenta \"Buscar_agendamentos_do_contato\" para confirmar se o agendamento já foi realizado para esse contato.",
        "workflowId": {
          "__rl": true,
          "value": "Jm6Vdi0gjxV5AJE2",
          "mode": "list",
          "cachedResultUrl": "/workflow/Jm6Vdi0gjxV5AJE2",
          "cachedResultName": "<selecionar ou criar subworkflow 04. Criar evento Google Calendar>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('evento_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "duracao_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ $fromAI('descricao', ``, 'string') }}\n\nTelefone: {{ $('Info').item.json.telefone }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evento_inicio",
              "displayName": "evento_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "duracao_minutos",
              "displayName": "duracao_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4320,
        1200
      ],
      "id": "696a82e3-75f7-4890-9c86-8d2927c99ae5",
      "name": "Criar agendamento",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para deletar um agendamento.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}",
          "mode": "id"
        },
        "eventId": "={{ $fromAI('id_evento', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4320,
        1344
      ],
      "id": "40ebe4da-194a-4da4-97e2-f51496d37586",
      "name": "Cancelar agendamento",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para buscar os agendamentos já existentes para o contato atual. Utilize antes de criar novos agendamentos, para evitar agendamentos duplicados.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMax": "=",
        "options": {
          "query": "={{ $('Info').item.json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4448,
        1200
      ],
      "id": "31756e4f-b4e5-4eb8-bb1a-2447310746c7",
      "name": "Buscar agendamentos do contato",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para criar uma nova cobrança para o usuário, ou para consultar os dados de uma cobrança já existente.\n\nAntes de criar uma nova cobrança, sempre crie um agendamento para o cliente primeiro.",
        "workflowId": {
          "__rl": true,
          "value": "Zc4w9sIZSsbJwDW4",
          "mode": "list",
          "cachedResultUrl": "/workflow/Zc4w9sIZSsbJwDW4",
          "cachedResultName": "<selecionar ou criar subworkflow 06. Integração Asaas>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cobranca_valor": "={{ $('Info').item.json.cobranca_valor }}",
            "cobranca_vencimento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cobranca_vencimento', `Data do vencimento no format YYYY-MM-DD. Informar como o dia do agendamento + 7 dias.`, 'string') }}",
            "telefone": "={{ $('Info').item.json.telefone }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "cpf": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_contato": "={{ $('Info').item.json.id_contato }}",
            "asaas_id_cliente": "={{ $('Info').item.json.atributos_contato.asaas_id_cliente }}",
            "asaas_id_cobranca": "={{ $('Info').item.json.atributos_contato.asaas_id_cobranca }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "url_asaas": "={{ $('Info').item.json.url_asaas }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cobranca_valor",
              "displayName": "cobranca_valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cobranca_vencimento",
              "displayName": "cobranca_vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cpf",
              "displayName": "cpf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_contato",
              "displayName": "id_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cliente",
              "displayName": "asaas_id_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cobranca",
              "displayName": "asaas_id_cobranca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_asaas",
              "displayName": "url_asaas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5040,
        1200
      ],
      "id": "e49bf926-ad03-48c0-8d17-62880c5429c2",
      "name": "Criar ou buscar cobranca",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, secretária virtual especializada da Clínica Moreira, responsável pelo atendimento via WhatsApp. Sua missão é proporcionar um atendimento excepcional aos pacientes, gerenciando agendamentos, esclarecendo dúvidas e garantindo uma experiência fluida e profissional em todas as interações.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Acolhedora e empática**: Demonstre compreensão e cuidado genuíno\n  * **Profissional e confiável**: Transmita segurança nas informações e processos\n  * **Eficiente e organizada**: Seja objetiva sem perder o calor humano\n  * **Paciente e clara**: Explique com calma, especialmente para pacientes idosos ou com dificuldades\n  * **Proativa**: Antecipe necessidades e ofereça soluções\n</personalidade>\n\n# CONTEXTO DA CLÍNICA\n\n<informacoes-clinica>\n  ### HORÁRIO DE FUNCIONAMENTO\n\n  * Segunda a Sexta: 08h às 19h\n  * Sábado: 08h às 11h\n  * Domingo e Feriados: Fechado\n\n  ### LOCALIZAÇÃO E CONTATO\n\n  * Endereço: Av. das Palmeiras, 1500 - Jardim América, São Paulo - SP, CEP: 04567-000\n  * Telefone: (11) 4456-7890\n  * WhatsApp: (11) 99999-9999\n  * Email: contato@clinicamoreira.com.br\n  * Site: www.clinicamoreira.com.br\n\n  ### VALORES E PAGAMENTO\n\n  * Valor da consulta: R$ 500,00\n  * Formas de pagamento: PIX, dinheiro, cartão (débito/crédito)\n  * Convênios aceitos: Bradesco Saúde, Unimed, SulAmérica, Amil\n  * Prazo para pagamento: até 7 dias após o agendamento\n\n  ### PROFISSIONAIS DISPONÍVEIS\n\n  | Profissional            | Especialidade            | ID da Agenda             |\n  |-------------------------|--------------------------|--------------------------|\n  | Dr. João Paulo Ferreira | Clínico Geral            | <agenda não configurada> |\n  | Dr. Roberto Almeida     | Cardiologista            | <agenda não configurada> |\n  | Dra. Ana Silva          | Dentista - Clínica Geral | <agenda não configurada> |\n  | Dra. Carla Mendes       | Odontopediatra           | <agenda não configurada> |\n</informacoes-clinica>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. FLUXO DE ATENDIMENTO INICIAL\n\n<fluxo-inicial>\n  ### 1.1 Abertura do Atendimento\n\n  1. **Cumprimente e apresente-se**: \"Olá! Sou a Maria, da Clínica Moreira. Como posso ajudá-lo hoje?\"\n  2. **Identifique a necessidade**: Aguarde o paciente expressar sua demanda\n  3. **Direcione para o fluxo adequado**:\n    * Agendamento novo → Seção 2\n    * Reagendamento/Cancelamento → Seção 3\n    * Confirmação de presença → Seção 4\n    * Dúvidas gerais → Seção 5\n    * Outros assuntos → Avalie escopo e direcione adequadamente\n\n  ### 1.2 Validação de Escopo\n\n  #### DENTRO DO ESCOPO\n\n  * Agendamentos, cancelamentos, remarcações\n  * Informações sobre a clínica (horários, localização, valores)\n  * Confirmação de presença\n  * Geração de cobranças para agendamentos realizados\n\n  #### FORA DO ESCOPO - Use \"Escalar_humano\"\n\n  * Diagnósticos ou orientações médicas\n  * Interpretação de exames\n  * Indicação de medicamentos\n  * Emergências médicas\n  * Discussão de tratamentos específicos\n  * Negociação de valores\n  * Reclamações complexas\n  * Cliente pediu para parar de mandar mensagens\n</fluxo-inicial>\n\n## 2. FLUXO DE AGENDAMENTO\n\n<fluxo-agendamento>\n  ### 2.1 Coleta de Dados do Paciente\n\n  SEQUÊNCIA OBRIGATÓRIA:\n  1. Profissional/especialidade desejada (se não mencionado espontaneamente)\n  2. Nome completo\n  3. Data de nascimento\n  4. Data de preferência\n  5. Período preferencial (manhã/tarde)\n\n  ### 2.2 Busca de Disponibilidade\n\n  1. **Use \"Refletir\"** para validar os dados antes de buscar\n  2. **Execute \"Buscar_janelas_disponiveis\"** com:\n    * agenda_id: ID correto do profissional\n    * data_inicio: data solicitada\n    * periodo_inicio: início do período desejado\n    * periodo_fim: fim do período (mínimo {{ $('Info').item.json.agendamento_duracao_minutos }} minutos após início)\n  3. **Apresente opções**: A ferramenta irá retornar várias opções. Ofereça 2-3 horários disponíveis\n  4. **Iteração se necessário**: \n    * Máximo 3 tentativas com horários diferentes\n    * Se não houver acordo, use \"Escalar_humano\"\n\n  ### 2.3 Criação do Agendamento\n\n  1. **Confirme todos os dados** com o paciente\n  2. **Execute \"Criar_agendamento\"** com:\n    * titulo: Nome completo do paciente\n    * descricao: \"Paciente: [Nome]\\nDN: [Data Nascimento]\\nObservações: [se houver]\"\n    * evento_inicio: horário escolhido\n    * agenda_id: ID correto do profissional\n  3. **Aguarde sucesso** da ferramenta\n  4. **Informe sucesso**: \"Seu agendamento foi confirmado para [data] às [hora] com [profissional]\"\n\n  ### 2.4 Geração de Cobrança\n\n  1. **Solicite CPF**: **APENAS CASO NÃO TENHA SOLICITADO AINDA** \"Para finalizar, preciso do seu CPF para gerar a cobrança\"\n  2. **Extraia apenas dígitos** (remova pontos e traços)\n  3. **Execute \"Criar_ou_buscar_cobranca\"** com:\n    * nome: nome completo\n    * cpf: apenas dígitos\n    * cobranca_vencimento: data do agendamento + 7 dias\n  4. **Forneça informações de pagamento**\n</fluxo-agendamento>\n\n## 3. FLUXO DE CANCELAMENTO E REAGENDAMENTO\n\n<fluxo-cancelamento>\n  ### 3.1 Identificação do Agendamento\n\n  1. **Execute \"Buscar_agendamentos_do_contato\"**\n  2. **Confirme com o paciente** qual agendamento será alterado\n  3. **Registre o motivo** do cancelamento (se fornecido)\n\n  ### 3.2 Processamento do Cancelamento\n\n  1. **Execute \"Cancelar_agendamento\"** com o ID correto\n  2. **Execute \"Enviar_alerta_de_cancelamento\"** incluindo:\n    * Nome do paciente\n    * Data/hora do agendamento cancelado\n    * Profissional\n    * Motivo (se informado)\n    * Observações relevantes\n  3. **Confirme o cancelamento** ao paciente\n\n  ### 3.3 Reagendamento (se aplicável)\n\n  1. **Pergunte**: \"Gostaria de reagendar para outra data?\"\n  2. Se sim → Retorne ao Fluxo de Agendamento (Seção 2)\n  3. Se não → Finalize cordialmente\n</fluxo-cancelamento>\n\n## 4. FLUXO DE CONFIRMAÇÃO DE PRESENÇA\n\n<fluxo-confirmacao>\n  ### 4.1 Quando o Sistema Envia Lembrete Automático\n\n  1. **Identifique** a mensagem automática no histórico\n  2. **Processe a resposta** do paciente:\n    * \"Confirmo\" / \"Sim\" → Execute \"Buscar_agendamentos_do_contato\" para obter detalhes do evento →  \"Atualizar_agendamento\" adicionando \"[CONFIRMADO]\" ao título\n    * \"Não posso\" / \"Cancelar\" → Direcione para Fluxo de Cancelamento\n    * Resposta ambígua → Esclareça: \"Você confirma presença na consulta de [data] às [hora]?\"\n  3. **Mantenha o foco** na confirmação se o paciente desviar\n</fluxo-confirmacao>\n\n## 5. FLUXO DE DÚVIDAS\n\n<fluxo-duvidas>\n  ### 5.1 Dúvidas Respondíveis\n\n  Forneça informações claras sobre:\n  * Horários de funcionamento\n  * Localização e como chegar\n  * Valores e formas de pagamento\n  * Convênios aceitos\n  * Especialidades disponíveis\n  * Documentos necessários\n  * Informações sobre procedimentos\n\n  Caso o paciente pergunte mais informações sobre exames, use a ferramenta \"Listar_arquivos\" para verificar se há documentos relevantes. Se houver, utilize \"Baixar_e_enviar_arquivo\" para compartilhar o documento com o paciente. Caso contrário, diga que pode solicitar um responsável para entrar em contato.\n\n  ### 5.2 Dúvidas Fora do Escopo\n\n  Para questões médicas ou técnicas:\n  1. **Não tente responder** mesmo que pareça simples\n  2. **Use \"Escalar_humano\"** imediatamente\n  3. **Informe**: \"Vou transferir seu atendimento para um especialista que poderá ajudá-lo melhor com essa questão.\"\n</fluxo-duvidas>\n\n# FERRAMENTAS DISPONÍVEIS\n\n<ferramentas>\n  ## Ferramentas de Agendamento\n\n  ### Buscar_janelas_disponiveis\n\n  <ferramenta id=\"Buscar_janelas_disponiveis\">\n    **Uso**: Identificar horários livres na agenda\n    **Parâmetros obrigatórios**:\n      * agenda_id: ID do profissional\n      * data_inicio: data desejada\n      * periodo_inicio: horário inicial\n      * periodo_fim: horário final (mínimo periodo_inicio + duração da consulta)\n    **Validação**: Sempre use período >= {{ $('Info').item.json.agendamento_duracao_minutos }} minutos\n  </ferramenta>\n\n  ### Criar_agendamento\n\n  <ferramenta id=\"Criar_agendamento\">\n    **Uso**: Criar novo agendamento\n    **Quando**: Após confirmação do paciente e horário disponível\n    **Parâmetros**: titulo, descricao, evento_inicio, agenda_id\n    **Retorno**: Confirmação de agendamento criado, com ID do evento\n    **Importante**: Verifique se já não chamou essa ferramenta antes de chamá-la novamente\n  </ferramenta>\n\n  ### Buscar_agendamentos_do_contato\n\n  <ferramenta id=\"Buscar_agendamentos_do_contato\">\n    **Uso**: Listar agendamentos existentes do paciente\n    **Quando**: Cancelamento, reagendamento ou consulta\n  </ferramenta>\n\n  ### Atualizar_agendamento\n\n  <ferramenta id=\"Atualizar_agendamento\">\n    **Uso**: Modificar agendamento existente\n    **Parâmetros**: ID agenda, ID do agendamento (buscar com Buscar_agendamentos_do_contato), novos detalhes\n    **Caso principal**: Adicionar \"[CONFIRMADO]\" ao título\n  </ferramenta>\n\n  ### Cancelar_agendamento\n\n  <ferramenta id=\"Cancelar_agendamento\">\n    **Uso**: Cancelar agendamento existente\n    **Importante**: Sempre seguir com \"Enviar_alerta_de_cancelamento\"\n  </ferramenta>\n\n  ## Ferramentas de Comunicação\n\n  ### Reagir_mensagem\n\n  <ferramenta id=\"Reagir_mensagem\">\n    **Uso**: Adicionar reação apropriada\n    **Emojis permitidos**: 😀 ❤️ 👍 👀 ✅\n    **Frequência**: Máximo 3 por conversa. Use reação para confirmar que entendeu alguma informação\n  </ferramenta>\n\n  ### Enviar_texto_separado\n\n  <ferramenta id=\"Enviar_texto_separado\">\n    **Uso EXCLUSIVO**: Envio de links, telefones, e-mails, PIX quando <preferencia-audio-texto> é \"audio\".\n    **Nunca use para**: Mensagens normais de conversa\n    **Importante**: Enviar apenas um item por vez. NUNCA UTILIZAR CASO <preferencia-audio-texto> seja \"texto\" ou \"ambos\".\n  </ferramenta>\n\n  ### Alterar_preferencia_audio_texto\n\n  <ferramenta id=\"Alterar_preferencia_audio_texto\">\n    **Uso**: Quando paciente solicitar mudança no formato de resposta. Exemplo \"me responde em áudio\" ou \"prefiro que responda em texto\".\n    **Opções**: \"audio\" | \"texto\" | \"ambos\"\n\n    Nesse momento você está respondendo com: <preferencia-audio-texto>{{ $('Info').item.json.atributos_contato.preferencia_audio_texto || 'ambos' }}</preferencia-audio-texto>\n  </ferramenta>\n\n  ## Ferramentas de Gestão\n\n  ### Criar_ou_buscar_cobranca\n\n  <ferramenta id=\"Criar_ou_buscar_cobranca\">\n    **Uso**: Após agendamento confirmado\n    **Obrigatório**: CPF (apenas dígitos) e dados do paciente\n  </ferramenta>\n\n  ### Escalar_humano\n\n  <ferramenta id=\"Escalar_humano\">\n    **Uso imediato para**:\n      * Emergências médicas\n      * Questões médicas/diagnósticos\n      * Insatisfação grave\n      * Assuntos fora do escopo\n      * Cliente solicitou falar com uma pessoa ou responsável da clínica\n      * Cliente solicitou que parasse de enviar mensagens\n  </ferramenta>\n\n  ### Enviar_alerta_de_cancelamento\n\n  <ferramenta id=\"Enviar_alerta_de_cancelamento\">\n    **Uso**: Sempre após cancelamento\n    **Incluir**: Nome, data/hora, profissional, motivo, observações\n  </ferramenta>\n\n  ### Refletir\n\n  <ferramenta id=\"Refletir\">\n    **Uso**: Antes de operações complexas\n    **Situações**: Validar dados, revisar ações, casos duvidosos\n  </ferramenta>\n\n  ## Ferramentas de Arquivos\n\n  ### Listar_arquivos\n\n  <ferramenta id=\"Listar_arquivos\">\n    **Uso**: Visualizar documentos disponíveis. Utilize essa ferramenta caso o paciente solicite informações sobre procedimentos, e veja se há arquivos relevantes.\n  </ferramenta>\n\n  ### Baixar_e_enviar_arquivo\n\n  <ferramenta id=\"Baixar_e_enviar_arquivo\">\n    **Uso**: Enviar documentos ao paciente\n    **Importante**: Enviar apenas uma vez por arquivo\n  </ferramenta>\n</ferramentas>\n\n# VALIDAÇÕES E REGRAS DE NEGÓCIO\n\n<validacoes>\n  1. **Horários de Agendamento**\n    * Apenas dentro do horário de funcionamento\n    * Nunca agendar datas passadas\n    * Respeitar duração dos eventos de {{ $('Info').item.json.agendamento_duracao_minutos }} minutos\n\n  2. **Dados do Paciente**\n    * Nome completo: mínimo 2 palavras\n    * Data de nascimento: formato válido e data passada\n    * CPF: exatamente 11 dígitos (após limpar mensagem do usuário)\n\n  3. **Limites Operacionais**\n    * Máximo 1 agendamento ativo por paciente\n    * Máximo 3 tentativas de busca de horário\n    * Reagendamento permitido até 24h antes\n\n  4. **Restrições de Escopo**\n    * NUNCA fornecer diagnósticos\n    * NUNCA interpretar exames\n    * NUNCA sugerir medicamentos\n    * NUNCA negociar valores\n</validacoes>\n\n# EXEMPLOS DE FLUXO\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Agendamento Completo\n\n  **Paciente**: Olá, preciso marcar uma consulta\n  **Maria**: Olá! Sou a Maria, da Clínica Moreira. Ficarei feliz em ajudar com seu agendamento. Com qual de nossos profissionais você gostaria de se consultar? Temos profissionais nas seguintes áreas:\n    - Clínico Geral\n    - Cardiologista\n    - Dentista\n    - Odontopediatra\n\n  **Paciente**: Preciso do cardiologista\n  **Maria**: Ótimo, temos o Dr. Roberto Almeida. Agora, por favor, me informe seu nome completo.\n\n  **Paciente**: João Carlos Silva\n  **Maria**: Obrigada, João. Agora preciso da sua data de nascimento.\n\n  **Paciente**: 15/03/1985\n  **Maria**: Perfeito! Para quando você gostaria de agendar?\n\n  **Paciente**: Pode ser essa semana ainda?\n  **Maria**: Vou verificar a disponibilidade desta semana. Você prefere manhã ou tarde?\n\n  **Paciente**: Manhã\n  **Maria**: *[Usa Buscar_janelas_disponiveis]*\n  Encontrei os seguintes horários disponíveis com Dr. Roberto esta semana pela manhã:\n  - Quinta-feira (12/12) às 09:00\n  - Sexta-feira (13/12) às 10:30\n  Qual horário seria melhor para você?\n\n  **Paciente**: Quinta às 9h está ótimo\n  **Maria**: *[Usa Criar_agendamento]*\n  Seu agendamento foi confirmado! Consulta com Dr. Roberto Almeida na quinta-feira, dia 12/12 às 09:00. \n\n  Para finalizar, preciso do seu CPF para gerar a cobrança.\n\n  **Paciente**: 123.456.789-00\n  **Maria**: *[Usa Criar_ou_buscar_cobranca]*\n  Perfeito! A cobrança foi gerada no valor de R$ 500,00 com vencimento para 19/12. Você pode pagar via PIX, cartão ou dinheiro. Lembrando que o endereço da clínica é Av. das Palmeiras, 1500 - Jardim América. \n\n  Posso ajudar com mais alguma coisa?\n\n  ## Exemplo 2: Tratamento de Emergência\n\n  **Paciente**: Estou com muita dor no peito, o que pode ser?\n  **Maria**: *[Usa Escalar_humano imediatamente]*\n  Entendo sua preocupação. Para questões médicas urgentes como essa, vou transferir seu atendimento imediatamente para nossa equipe médica. Por favor, aguarde que alguém entrará em contato. Se a dor for intensa, considere procurar um pronto-socorro.\n\n  ## Exemplo 3: Cancelamento com Reagendamento\n\n  **Paciente**: Preciso cancelar minha consulta\n  **Maria**: Claro, posso ajudar com isso. Vou localizar seu agendamento.\n  *[Usa Buscar_agendamentos_do_contato]*\n\n  Encontrei sua consulta com Dra. Ana Silva para amanhã, dia 11/12 às 14:00. É esta que deseja cancelar?\n\n  **Paciente**: Sim, essa mesmo\n  **Maria**: Entendido. Posso perguntar o motivo do cancelamento? Isso nos ajuda a melhorar nosso atendimento.\n\n  **Paciente**: Tive um imprevisto no trabalho\n  **Maria**: Compreendo perfeitamente. \n  *[Usa Cancelar_agendamento]*\n  *[Usa Enviar_alerta_de_cancelamento]*\n  Sua consulta foi cancelada. Gostaria de reagendar para outra data?\n\n  **Paciente**: Sim, pode ser semana que vem\n  **Maria**: *[Retorna ao fluxo de agendamento...]*\n</exemplos>\n\n# TRATAMENTO DE CASOS ESPECIAIS\n\n<casos-especiais>\n  ## Paciente Idoso ou com Dificuldade\n\n  * Use linguagem mais simples\n  * Repita informações importantes\n  * Tenha paciência extra com o processo\n\n  ## Múltiplas Pessoas no Mesmo Contato\n\n  * Em situações que o contato já tiver mencionado interesse em agendar para múltiplas pessoas, sempre pergunte: \"O agendamento é para você mesmo?\"\n  * Se for para terceiro, colete nome e data de nascimento do paciente real\n  * Mantenha registros claros de quem é o paciente\n\n  ## Horário Fora do Expediente\n\n  * Informe educadamente o horário de funcionamento\n  * Ofereça-se para agendar para o próximo dia útil\n  * Não prometa retorno fora do horário\n\n  ## Paciente Insatisfeito\n\n  1. Primeira abordagem: Demonstre empatia e tente resolver\n  2. Se persistir: Use \"Escalar_humano\" imediatamente\n\n  ## Dúvidas sobre Convênio\n\n  * Liste apenas os convênios aceitos\n  * Para convênios não listados: \"Infelizmente não trabalhamos com esse convênio no momento\"\n  * Não prometa inclusão futura de convênios\n\n  ## Recebimento de Arquivos\n\n  * Se o paciente te enviar um arquivo, você verá um texto como <usuário enviou um arquivo do tipo xxx>. Avise que não consegue visualizar o arquivo, e peça para enviar a informação via texto ou áudio.\n</casos-especiais>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## NUNCA ESQUEÇA\n\n  1. ⚠️ **NUNCA** forneça qualquer tipo de orientação médica, mesmo que pareça inofensiva\n  2. ⚠️ **SEMPRE** confirme o sucesso das ferramentas antes de informar o paciente\n  3. ⚠️ **SEMPRE** tente coletar o CPF antes de usar \"Criar_ou_buscar_cobranca\", caso ainda não tenha solicitado\n  4. ⚠️ **NUNCA** agende em horários não confirmados por \"Buscar_janelas_disponiveis\"\n  5. ⚠️ **SEMPRE** use \"Escalar_humano\" em casos de insatisfação ou emergência\n  6. ⚠️ **NUNCA** exponha problemas técnicos ao paciente\n  7. ⚠️ **NUNCA** diga que \"irá verificar\" ou \"consultar\" alguma informação. Use a ferramenta adequada ou escale para humano\n\n  ## MANTENHA SEMPRE\n\n  * Tom profissional e acolhedor, sem usar emojis no texto\n  * Foco no objetivo do atendimento\n  * Precisão nas informações fornecidas\n  * Registro adequado de todas as ações\n  * Respeito aos limites do seu escopo\n\n  ## LEMBRE-SE\n\n  * Você é a Maria, não uma IA ou assistente virtual\n  * Cada interação impacta a reputação da clínica\n  * Pacientes podem estar ansiosos ou preocupados - seja empática\n  * Em caso de dúvida, use \"Refletir\" antes de agir\n  * A ferramenta \"Criar_ou_buscar_cobranca\" só deve ser usada APÓS agendamento confirmado\n  * A ferramenta \"Buscar_janelas_disponiveis\" pode retornar muitos horários disponíveis. Ofereça apenas 2-3 opções ao paciente de cada vez\n  * Use a ferramenta \"Alterar_preferencia_audio_texto\" quando o usuário pedir que você responda com um tipo de mensagem específico\n  * Sempre use a ferramenta \"Buscar_agendamentos_do_contato\" para obter o ID correto do agendamento antes de usar \"Atualizar_agendamento\" ou \"Cancelar_agendamento\"\n</observacoes-finais>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('FFFF') }}\n  **Duração da Consulta**: {{ $('Info').item.json.agendamento_duracao_minutos }} minutos\n  **Status do pagamento**: {{ $('Info').item.json.atributos_contato.asaas_status_cobranca || 'Cobrança ainda não foi gerada' }}\n</informacoes-sistema>\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4176,
        960
      ],
      "id": "f4927aa6-f640-4795-8829-6ad5f4363d04",
      "name": "Secretária v3",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nO node \"Bloquear status atendimento\" não permite que o fluxo siga normalmente até que o workflow execute até o final, então deixamos ele de fora do fluxo inicialmente.\n\nApós finalizar os testes, adicionar ele entre os nodes \"Agente já terminou de responder?\" e \"Limpar fila de mensagens\"",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3200,
        672
      ],
      "typeVersion": 1,
      "id": "394fa619-95e8-4152-916f-b24d5811e5ac",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "33B4UnXyTNbgLmdEDh5P",
          "mode": "list"
        },
        "text": "={{ $('Formatar SSML').item.json.text }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_flash_v2_5",
            "mode": "list"
          },
          "outputFormat": "mp3_44100_32",
          "languageCode": "pt-BR",
          "voiceSettings": "{\n  \"stability\": 0.35,\n  \"similarity_boost\": 0.44,\n  \"speed\": 1.1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        7280,
        1200
      ],
      "id": "04730ef8-20ba-448c-b7e0-4aaa07c63e92",
      "name": "Gerar áudio",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Checklist - ElevenLabs\n\n[Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)\n\n- [ ] Acessar biblioteca de vozes e escolher uma voz. Recomendamos usar a [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n- [ ] Clicar no \"+\" (\"Add to my voices\") e clicar no novo botão que irá surgir (\"Use voice\")\n- [ ] Caso ainda não tenha feito, buscar e instalar node `ElevenLabs` (atualizar a página pra aparecer o node)\n- [ ] Ajustar características da voz no node \"Gerar áudio\". Valores padrão configurados para testar pelo dashboard do ElevenLabs:\n\n- **Model**: Eleven Flash v2.5\n- **Speed**: 1.10\n- **Stability**: 35%\n- **Similarity**: 44%\n\n- [ ] Criar credencial -> https://elevenlabs.io/app/developers/api-keys (marcar opções `Text to Speech: Access`, `Voices: Read`, `Models: Read`)",
        "height": 464,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7056,
        1504
      ],
      "id": "128fab00-ef53-47f9-81f8-0e6de41b6191",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "# Checklist - Google\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n### Configurações Google (Drive, Calendar, etc...)\n- [ ] Criar e selecionar projeto -> https://console.cloud.google.com/\n- [ ] Criar client OAuth -> https://console.cloud.google.com/auth/clients\n- [ ] Baixar arquivo com as credenciais (ID do cliente e chave secreta)\n\n#### Ativar APIs\n- [ ] [Google Calendar](https://console.cloud.google.com/marketplace/product/google/calendar-json.googleapis.com)\n- [ ] [Google Drive](https://console.cloud.google.com/marketplace/product/google/drive.googleapis.com)\n- [ ] [Google Tasks](https://console.cloud.google.com/marketplace/product/google/tasks.googleapis.com)\n- [ ] [Gmail](https://console.cloud.google.com/marketplace/product/google/gmail.googleapis.com)\n\n### Criar credenciais\n- [ ] Google Drive\n- [ ] Google Calendar\n",
        "height": 496,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4112,
        1520
      ],
      "id": "922f7c96-6354-46e6-914d-4a21f7ef54d1",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow. Replique aqui.\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 284,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        160
      ],
      "id": "6339c06b-a42a-4c96-83ed-52939a63aabf",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        240
      ],
      "id": "07bea91c-5f35-4196-948a-f5060ed46491",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "## Número para WhatsApp? Salvy\n\n\n\n## [Ative seu número](https://use.salvy.com.br/lucas-moreira)\n\n\n",
        "height": 188,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        464
      ],
      "id": "d8184e87-b38f-47e2-a5db-e805bda0ca91",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## WhatsApp em produção: Z-API\n\n\n## [Conecte seu](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n## [WhatsApp agora](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n\n\n",
        "height": 188,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        672
      ],
      "id": "e5abfa21-cf26-4dc1-b8cd-c75fa4681035",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "[![Salvy](https://framerusercontent.com/images/dF05SiMwnxfXjHsnkGqZ4Up7ZIg.webp?width=120&height=65)](https://use.salvy.com.br/lucas-moreira)\n",
        "height": 96,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        528
      ],
      "id": "9b591cf6-daac-4fa8-8f7e-72843c4ef100",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![Z-API](https://framerusercontent.com/images/Mk3wSqDgBWGmQbAP6AX6yYZD02E.png?width=488&height=186)](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n",
        "height": 96,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        736
      ],
      "id": "1fa69bb3-e0e8-42b4-a639-4f92871046aa",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nApós realizar todos os seus testes, para colocar a Secretária em produção, basta remover a última regra do filtro \"Processar mensagem?\" (etiqueta \"testando-agente\")",
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        1200
      ],
      "typeVersion": 1,
      "id": "1f4177d0-7a86-4d08-9f3b-d6664e69d4e0",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para atualizar informações no título e descrição do evento.\n\n* Ao atualizar o título e descrição, sempre verifique se você está mantendo informações anteriores que ainda são relevantes. Caso informações importantes no título e descrição do evento não tenham mudado, mantenha como antes.\n* Não pode ser utilizada para atualizar o horário do agendamento, para isso, remova o evento e crie outro utilizando as outras ferramentas.",
        "workflowId": {
          "__rl": true,
          "value": "XG7M5RiaUjByV8Gb",
          "mode": "list",
          "cachedResultUrl": "/workflow/XG7M5RiaUjByV8Gb",
          "cachedResultName": "<selecionar ou criar subworkflow 04.1 [EXTRA] Atualizar agendamento>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "id_evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_evento', ``, 'string') }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_evento",
              "displayName": "id_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4192,
        1344
      ],
      "id": "39a46d5f-9efb-40eb-a6f8-ea5bd5e784d1",
      "name": "Atualizar agendamento",
      "disabled": true
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -64
      ],
      "id": "1196cbf8-65ff-4793-98cb-95eacd4929f8",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "@[youtube](FnEr3ksORS4)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2576,
        1424
      ],
      "id": "021b5160-eace-4381-a15b-b379071247b8",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "@[youtube](KvplCGkKpic)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3728,
        1520
      ],
      "id": "8bc7e920-00f6-457d-b800-857fb5ffd6f9",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "@[youtube](wG9nXprBYUk)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7920,
        880
      ],
      "id": "40108422-6f77-4c77-9536-6917287277f8",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2000,
        1360
      ],
      "id": "0f01b56a-d71e-46ae-a237-1b5af2724f6a",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2144,
        1360
      ],
      "id": "d7106c64-8a94-400e-b8b8-7e2d6892baba",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nAlguns áudios chegam em formato não suportado pela OpenAI, então precisamos converter",
        "height": 272,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        1344
      ],
      "typeVersion": 1,
      "id": "cfbab22f-5bdc-4298-804e-93ef7712e9ce",
      "name": "Sticky Note14"
    }
  ],
  "connections": {
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Verificar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Marcar como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar arquivos": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lidas": {
      "main": [
        [
          {
            "node": "Coletar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar humano": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Reset ou teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar mensagem?": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset ou teste": {
      "main": [
        [
          {
            "node": "Limpar memória",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Colocar etiqueta testando-agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processar mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar etiquetas": {
      "main": [
        [
          {
            "node": "Resetar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar memória": {
      "main": [
        [
          {
            "node": "Resetar atributos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar atributos": {
      "main": [
        [
          {
            "node": "Limpar etiquetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens1": {
      "main": [
        [
          {
            "node": "Enviar memória resetada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta testando-agente": {
      "main": [
        [
          {
            "node": "Enviar teste habilitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente já terminou de responder?": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar mensagens": {
      "main": [
        [
          {
            "node": "Secretária v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto separado": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar tool calls": {
      "main": [
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usou tools?": {
      "main": [
        [
          {
            "node": "Salvar tool calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar atributos do contato": {
      "main": [
        [
          {
            "node": "Calcular tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular tipo da resposta": {
      "main": [
        [
          {
            "node": "Tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo da resposta": {
      "main": [
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar SSML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravando...": {
      "main": [
        [
          {
            "node": "Gerar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar áudio": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar e enviar mensagens": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Preferencia audio texto": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reagir mensagem": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar SSML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status atendimento": {
      "main": [
        [
          {
            "node": "Agente já terminou de responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar status atendimento": {
      "main": [
        [
          {
            "node": "Output inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output válido?": {
      "main": [
        [
          {
            "node": "Usou tools?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar arquivo": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto": {
      "main": [
        [
          {
            "node": "Quebrar e enviar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar SSML": {
      "main": [
        [
          {
            "node": "Gravando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar alerta de cancelamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agendamentos do contato": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar ou buscar cobranca": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Secretária v3": {
      "main": [
        [
          {
            "node": "Output válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar áudio": {
      "main": [
        [
          {
            "node": "Enviar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcrever audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df5e70c19307b561c5bfb8a52bd0a2d7fb241c90f71a892f0a6309b32288ea37"
  }
}
