MaterialSecretariav3/WORKFLOWS/10. Buscar ou criar contato + conversa.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/inboxes/{{ $('Gatilho').item.json.id_inbox }}/on_whatsapp",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $('Gatilho').item.json.telefone.startsWith('+55') ? $('Gatilho').item.json.telefone : `+55${$('Gatilho').item.json.telefone}` }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        288
      ],
      "id": "73e8dc83-38a1-4842-9384-bfb60a28e854",
      "name": "Verificar WhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "=+{{ $('Verificar WhatsApp').item.json.jid.split('@').first() }}"
            },
            {
              "name": "name",
              "value": "={{ $('Verificar WhatsApp').item.json.jid.split('@').first() }}"
            },
            {
              "name": "identifier",
              "value": "={{ $('Verificar WhatsApp').item.json.lid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2896,
        224
      ],
      "id": "8dd0b700-c8d5-417b-b958-8fd654d62e6c",
      "name": "Criar contato",
      "credentials": {
        "chatwootApi": {}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inbox_id",
              "value": "={{ $('Gatilho').item.json.id_inbox }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $('Criar contato').isExecuted ? $('Criar contato').item.json.payload.contact.id : $('ID Contato').item.json.id_contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3072,
        224
      ],
      "id": "5ab52703-e5e2-41ea-aeda-8d6f11529bfb",
      "name": "Criar conversa"
    },
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Gatilho').item.json.telefone.replace(/(\\+55)?(\\d\\d)9(\\d{8})/, '$1$2$3') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -48
      ],
      "id": "c46678af-69e7-4935-b370-0c226da9794a",
      "name": "Buscar contato (sem 9)"
    },
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Gatilho').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        -48
      ],
      "id": "474e4c83-3cc4-4f30-a4f8-f0a970164208",
      "name": "Buscar contato"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9b08522-ff71-421e-a35a-0c3a21472441",
              "leftValue": "={{ $json.id_contato }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2240,
        -48
      ],
      "id": "57f2ebc7-e00f-40d1-af3e-7082c0f24b67",
      "name": "Contato existe?",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/contacts/{{ $json.id_contato }}/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        -64
      ],
      "id": "53875ba7-4a09-4777-b1cc-859eb685257d",
      "name": "Listar conversas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "378a7912-d074-4d13-ad27-9c3f04ccf443",
              "leftValue": "={{ $('Verificar WhatsApp').item.json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2688,
        288
      ],
      "id": "88d7fe80-6214-4c4d-885a-3996aebbf5eb",
      "name": "Número no WhatsApp?"
    },
    {
      "parameters": {
        "content": "## Criar novo contato\n",
        "height": 368,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        160
      ],
      "id": "25706a11-bb90-4e8e-8bea-6ff3782787a0",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_inbox"
            },
            {
              "name": "url_chatwoot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1488,
        -48
      ],
      "id": "659aef6b-d619-44ee-abaf-b869d26796f0",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f998039-0ebe-4a5c-b487-7f039f648042",
              "name": "contato",
              "value": "={{ $('Buscar contato (sem 9)').item.json.payload.first() || $('Buscar contato').item.json.payload.first() || $('Criar contato').item.json.payload.contact }}",
              "type": "object"
            },
            {
              "id": "b2807407-2a85-422c-b25a-6ef564d9fe6f",
              "name": "conversa",
              "value": "={{ $json.payload?.first() || $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3360,
        -48
      ],
      "id": "eaf8ca8b-c81a-44c1-93a5-7388b70f1090",
      "name": "Resultado"
    },
    {
      "parameters": {
        "content": "## Usar contato já existente\n",
        "height": 272,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        -144
      ],
      "id": "ecb3726d-1280-4d24-ba7b-36d55a1e6541",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Buscar contato\n",
        "height": 272,
        "width": 992,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        -144
      ],
      "id": "fbf39a71-eb0e-49d5-84a4-d332a3271f65",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Abrir nodes do Chatwoot para selecionar credenciais",
        "height": 128,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1872,
        128
      ],
      "id": "a5d3b047-738c-4abe-9618-210a167373ed",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 10. Buscar ou criar contato + conversa",
        "height": 80,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -768
      ],
      "id": "a0340ef0-4d0d-4c6a-8df1-353d274f4897",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "errorMessage": "=Telefone não está no WhatsApp: {{ $('Verificar WhatsApp').item.json.toJsonString() }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2896,
        368
      ],
      "id": "b43f6941-354a-4027-9024-5baf6dcef9b9",
      "name": "Telefone não está no WhatsApp"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -672
      ],
      "id": "ab952a95-48ad-4461-9781-68e0a98d7286",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        -672
      ],
      "id": "b4e62de1-cd7e-4c8a-bce7-94346cf3ed20",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5d65d24-f2f5-4ce5-9811-039fa02e06e1",
              "name": "id_contato",
              "value": "={{ $('Buscar contato (sem 9)').item.json.payload.first()?.id || $('Buscar contato').item.json.payload.first()?.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        -48
      ],
      "id": "765e5513-39b7-44b3-8a9b-c58edb4d3e31",
      "name": "ID Contato"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -224
      ],
      "id": "225dd28c-cb13-40e9-8b41-11a0005a804f",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b28e2b5-8d42-41c0-b297-27be561ee0ec",
              "leftValue": "={{ $json.payload }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2848,
        -64
      ],
      "id": "62bbc563-a9f3-44b2-b476-4485d5f762ea",
      "name": "Contato com conversa criada?"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -128
      ],
      "id": "5719d868-fdb6-4634-a104-d60eeaaf84e4",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -672
      ],
      "id": "1b427ba0-de5f-4f34-8776-63b55d130f01",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "@[youtube](AWUmmgG8ITs)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3216,
        -672
      ],
      "id": "4cc5a4b0-41ab-4271-92c3-2526f142c8d9",
      "name": "Sticky Note17"
    }
  ],
  "connections": {
    "Verificar WhatsApp": {
      "main": [
        [
          {
            "node": "Número no WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar contato": {
      "main": [
        [
          {
            "node": "Criar conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar conversa": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato (sem 9)": {
      "main": [
        [
          {
            "node": "Buscar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato": {
      "main": [
        [
          {
            "node": "ID Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Listar conversas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar conversas": {
      "main": [
        [
          {
            "node": "Contato com conversa criada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Número no WhatsApp?": {
      "main": [
        [
          {
            "node": "Criar contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telefone não está no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Buscar contato (sem 9)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Contato": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato com conversa criada?": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "936a763e3bf4f68eafc951654ad1b8930511c3731cb9e74c28a4773b3e4d1984"
  }
}
