Sophia/n8n/workflow_oracao.json
{
  "name": "Sophia - Oracao",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sophia/prayers/submit",
        "responseMode": "onReceived"
      },
      "id": "Webhook_Prayers",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        280,
        480
      ]
    },
    {
      "parameters": {
        "functionCode": "const b = $json;\nconst required = ['title','content','privacy'];\nfor (const k of required) {\n  if (!b[k] || String(b[k]).trim()==='') {\n    throw new Error(`missing_${k}`);\n  }\n}\nconst privacy = String(b.privacy).toLowerCase();\nif (!['public','private'].includes(privacy)) throw new Error('invalid_privacy');\nreturn [{ json: {\n  title: String(b.title).trim(),\n  content: String(b.content).trim(),\n  privacy,\n  requester: (b.requester||'').trim()\n}}];"
      },
      "id": "Normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        480
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$env.GATEWAY_API_URL}}/api/prayers",
        "jsonParameters": true,
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "Authorization": "Bearer {{$env.API_JWT_TOKEN}}"
          },
          "retryOnFail": true,
          "maxRetries": 2
        },
        "body": "={ $json }"
      },
      "id": "StoreAPI",
      "name": "Store API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        760,
        480
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$env.CHATWOOT_API_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$json.conversation_id || 0}}/messages",
        "jsonParameters": true,
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "api_access_token": "{{$env.CHATWOOT_API_TOKEN}}"
          },
          "retryOnFail": true,
          "maxRetries": 2
        },
        "body": "={ { content: `Recebemos seu pedido de oração: ${$json.title}`, message_type: 'outgoing' } }"
      },
      "id": "ChatwootNotify",
      "name": "Chatwoot Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1000,
        480
      ]
    },
    {
      "parameters": {
        "responseData": "={ { ok: true, stored: true } }",
        "responseCode": 200
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1240,
        480
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Store API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store API": {
      "main": [
        [
          {
            "node": "Chatwoot Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Notify": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
